* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0b0f14;
  color: #e6f1ff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.neon-accent {
  color: #00f0ff;
}

.neon-btn {
  border: 1px solid #00f0ff;
  padding: 10px 18px;
  background: transparent;
  color: #00f0ff;
  cursor: pointer;
  transition: 0.3s;
}

.neon-btn:hover {
  box-shadow: 0 0 14px rgba(0,240,255,0.6);
}
body::before,
body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
  opacity: 0.35;
}

body::before {
  background: #00f0ff;
  top: -100px;
  left: -100px;
}

body::after {
  background: #8a2be2;
  bottom: -120px;
  right: -120px;
}